example/bin/
library/bin/
example/gen/com/reptilemobile/MultipleContactsPicker/R.java
example/gen/com/reptilemobile/MultipleContactsPickerExample/R.java
library/gen/com/reptilemobile/MultipleContactsPicker/R.java
